{% extends "layout.html" %}
    
{% block content %}

    <h4>Register New Playlist</h4>
    <br>
    {% from "_formhelper.html" import render_field %}
    <form method="POST" action="/generate-playlist/">
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
        </dl>
        <p><input type="submit" value="Register"></p>
    </form>
    
    {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

    <script src="../static/js/views/generate-playlist.js"></script>

{% endblock %}