{% extends "header.html" %}
    
{% block content %}

    <br>
    {% from "_formhelper.html" import render_field %}
    <form method="POST" action="/generate-playlist/">
        <h4 class="intro">Create New Playlist</h4>
        {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        <div class="submit-btns">
            <input type="submit" value="Register">
        </div>
    </form>

{% endblock %}