{% extends "layout.html" %}
    
{% block content %}
	{% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

    <p id="title">Rendezvooo</p>
    {% from "_formhelper.html" import render_field %}
    <form method="POST" action="/">
        <h4>Login to Playlist:</h4>
            {{ render_field(form.name, class="test") }}
            {{ render_field(form.pid) }}
            {{ render_field(form.opt_pw) }}
        
        <div class="submit-btns">
            <input type="submit" value="Enter Playlist">
            <input type="button" id="new-playlist-btn" value="Create New Playlist"></input>
        </div>
    </form>
        
    <script>var response = '{{ response }}'</script>
    <script src="../static/js/views/homepage.js"></script>
{% endblock %}
