{% extends "layout.html" %}
    
{% block content %}
	{% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

        
    <h4>Login to Playlist:</h4>
    <br>
    {% from "_formhelper.html" import render_field %}
    <form method="POST" action="/">
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.pid) }}
            {{ render_field(form.opt_pw) }}
         </dl>
        <p><input type="submit" value="Enter Playlist"></p>
    </form>
    <button id="new-playlist-btn">Create New Playlist</button>
        
    <script>var response = '{{ response }}'</script>
    <script src="../static/js/views/homepage.js"></script>
{% endblock %}
