{% extends "header.html" %}
    
{% block content %}
    	<p class='intro'>How it Works:</p>
    	<ul>
    		<li> 1: <b><a href="/generate-playlist/">Create a new playlist,</a></b> you will be given a playlist code for your new playlist!</li>
    		<li> 2: <b>Send the code</b> to your friends, they will need it along with their name to sign in.</li>
    		<li> 3: You and your friends can <b>add songs by using YouTube URL!</b> However only YOU can delete songs.</li>
    		<li> 4: Songs are sorted and played by number of likes.</li>
    		<li> 5: <b>Enjoy</b> the new collaborative playlist!</li>
    	</ul>
{% endblock %}