<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rendezvooo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {{error}}
        <h4>Request Song:</h4>
        <div>
            <input id ="request-url" type="text" placeholder="YouTube URL" value="{{ request.form.yt_id }}">
            <button id="request-btn" value="Submit URL">SUBMIT URL</button>
        </div>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/js/model.js"></script>
        <script src="../static/js/controller/controller.js"></script>
        <script src="../static/js/views/playlist.js"></script>
        <script src="../static/js/controller/yt-controller.js"></script>
    </body>
</html>