// === COLOR ===
$off-white: #D3D3D3;
$black: black;
$background-color: 	#14130f;
$card-bgc: #332E2C;
$light: #c07754;
$medium: #a85042;
$dark: #33221a;

// === FONT ===
@import url("https://fonts.googleapis.com/css?family=Roboto");
$font-family: 'Roboto', sans-serif;
$font-color: #fbf7f5;

// === FONT WEIGHT ===
$song-title-weight: 800;
$intro-weight: 100;
$curr-song-info-weight: 100;

// === FONT SIZE ===
$curr-song-title-size: 25px;
$curr-song-info-size: 15px;
$nav-font-size: 10px;
$intro-size: 50px;
$playlist-header-size: 25px;
$instruction-size: 15px;
$song-title-size: 15px;
$requester-size: 12px;
$song-info-size: 14px;
